*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cpp
*tmp.*

.DS_Store
a.out
a.out.js
web/hstrat-evolutionary-inference.js

build/
doc/_build/

package-lock.json
node_modules/
.ipynb_checkpoints/
coverage_include/

cpp/
tex/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf

binder/

*.bak

moreno.tex
hstrat-evolutionary-inference.tex
hstrat-evolutionary-inference-draft.tex
